<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>参数测试</h1>
    <a th:href="@{/param/servletAPi(user=lixuan,sex=boy)}">servletAPi跳转目标页面</a>
    <a th:href="@{/param/testParam(user=mowang,sex=boy)}">testParam跳转目标页面</a>
    <a th:href="@{/param/testHeader}">testHeader跳转目标页面</a>
    <form th:action="@{/param/testParam}" method="post">
        用户名：<input type="text" name="username">
        性别：<input type="sex" name="sex">
        爱好：
        <input type="checkbox" name="hobby" value="a">a
        <input type="checkbox" name="hobby" value="b">b
        <input type="checkbox" name="hobby" value="c">c
        <input type="submit" value="提交">
    </form>

    <form th:action="@{/param/testBean}" method="post">
        用户名：<input type="text" name="name">
        密码：<input type="password" name="password">
        邮箱：<input type="email" name="email">
        年龄：<input type="text" name="age">
        爱好：
        <input type="checkbox" name="hobby" value="a">a
        <input type="checkbox" name="hobby" value="b">b
        <input type="checkbox" name="hobby" value="c">c
        <input type="submit" value="提交">
    </form>
</body>
</html>